#create-or-login-links
  = link_to(t('navigation.create_account'), 'javascript:void(0)', class: 'start-registration', id: 'nav-sign-up')
  %span.spacer /
  = link_to(t('navigation.login'), 'javascript:void(0)', class: 'start-login', id: 'nav-login')
