<svg width="14px" height="18px" viewBox="0 0 62 79" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
  <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
  <title>noun_175183_cc copy</title>
  <desc>Created with Sketch.</desc>
  <defs></defs>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
    <g id="noun_175183_cc" sketch:type="MSLayerGroup" transform="translate(0.000000, 1.000000)" fill="#CCD1DD">
      <path d="M53.3736216,31.1580426 L53.3736216,23.1571915 C53.3736216,10.7609149 43.3195676,0.675808511 30.9614595,0.675808511 C18.6033514,0.675808511 8.5492973,10.7609149 8.5492973,23.1571915 L8.5492973,30.9311277 C3.67475676,31.8875319 0,36.0022553 0,40.9187447 L0,66.973617 C0,72.786 4.27464865,77.1679787 9.94345946,77.1679787 L49.6100541,77.1679787 C55.5168108,77.1679787 60.326,72.594383 60.326,66.973617 L60.326,40.9187447 C60.3243243,36.1854681 57.4874054,32.4018723 53.3736216,31.1580426 L53.3736216,31.1580426 Z M36.4459459,62.6218936 L23.8783784,62.6218936 L23.8783784,44.9712766 L36.4459459,44.9712766 L36.4459459,62.6218936 L36.4459459,62.6218936 Z M44.9952432,30.7227021 L16.9276757,30.7227021 L16.9276757,23.1588723 C16.9276757,15.3967021 23.2248649,9.08174468 30.9614595,9.08174468 C38.7014054,9.08174468 44.9952432,15.3967021 44.9952432,23.1588723 L44.9952432,30.7227021 L44.9952432,30.7227021 Z" id="Shape" sketch:type="MSShapeGroup"></path>
    </g>
  </g>
</svg>
